html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 901px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
  margin: 0 auto;
  font-size: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */

.nav {
  margin-top: 70px;
  margin-bottom: 96px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav-list li {
  padding-right: 60px;
  display: inline-block;
}

.nav-list a {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
}

.nav-list li:last-child {
  padding-right: 0;
}

.nav-list li :hover,
.nav-list li :focus {
  color: #03a9f4;
}

/* MAIN */

.box {
  margin: 0 auto;
  width: 901px;
  font-size: 0;
}

.section.topic {
  display: inline-block;
  width: 420px;
}
.section.topic:not(:nth-last-child(-n + 2)) {
  margin-bottom: 134px;
}

.section.topic:nth-last-child(-n + 2) {
  margin-bottom: 52px;
}

.section.topic:not(:nth-child(2n)) {
  margin-right: 60px;
}

.ubuntu {
  margin-top: 30px;
  margin-bottom: 0;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.name {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
}

.text {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.button {
  display: inline-block;
  margin: 0 379px 70px 357px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #626262;
  width: 164px;
  height: 60px;
  background-color: transparent;
}
