html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div {
  width: 1200px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box {
  padding: 70px 0 96px 0;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li,
a {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
}

li :hover,
li :focus {
  color: #03a9f4;
}

.life {
  padding-right: 117px;
}

.photo {
  padding-right: 99px;
}

.music {
  padding-right: 91px;
}

div.container {
  margin: 0 auto;
  width: 900px;
  font-size: 0;
}

.topic {
  display: inline-block;
  width: 420px;
}

.first {
  margin-right: 60px;
  margin-bottom: 132px;
}

.second {
  margin-bottom: 132px;
}

.third {
  margin-right: 60px;
  margin-bottom: 138px;
}

.fourth {
  margin-bottom: 138px;
}

.fifth {
  margin-right: 60px;
  margin-bottom: 52px;
}

.sixth {
  margin-bottom: 52px;
}

.ubuntu {
  margin-top: 30px;
  margin-bottom: 0;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.name {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
}

.text {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.button {
  display: inline-block;
  margin: 0 529px 70px 507px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #626262;
  width: 164px;
  height: 60px;
  background-color: transparent;
}
