* {
  box-sizing: content-box;
}

div {
  width: 1200px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
}

.block {
  padding: 70px 0 96px 0;
}

li {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #626262;
}

ul {
  margin: 0;
  padding: 0;
}

.life :hover {
  color: #03a9f4;
}

.life {
  padding: 0 117px 0 313px;
}

.photo {
  padding-right: 99px;
}

.music {
  padding-right: 91px;
}

.topic {
  display: inline-block;
}

.first {
  margin: 0 56px 132px 150px;
  width: 420px;
}

.second {
  margin-right: 151px;
  margin-bottom: 132px;
  width: 419px;
}

.third {
  margin: 0 56px 138px 150px;
  width: 420px;
}

.fourth {
  margin-right: 151px;
  margin-bottom: 138px;
  width: 419px;
}

.fifth {
  margin: 0 56px 54px 149px;
  width: 420px;
}

.sixth {
  margin-right: 152px;
  margin-bottom: 54px;
  width: 419px;
}

.ubuntu {
  margin-top: 30px;
  margin-bottom: 0;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  margin-top: 26px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
}

.text {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

button {
  display: inline-block;
  margin: 0 529px 70px 507px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #626262;
  width: 164px;
  height: 60px;
  background-color: #ffffff;
}
